@media only screen
and (min-device-width : 1024px)
and (max-device-width : 5000px)
and (orientation : landscape) {
  
/* Styles */

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Medium.woff2') format('woff2'),
            url('../Fonts/Poppins-Medium.woff') format('woff'),
            url('../Fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Light.woff2') format('woff2'),
            url('../Fonts/Poppins-Light.woff') format('woff'),
            url('../Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../Fonts/Poppins-LightItalic.woff') format('woff'),
            url('../Fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body {
    margin: 0px;
    font-family: 'Poppins';
    width: 100%;
}

/*Style du header*/

header {
    height: 160px;
    background-color: #0C4C8C;
    margin-top: -24px;
    border-bottom: #052544 solid;
}

header #logo_head {
    height: 120px;
    width: 120px;
    border: none;
    position: absolute;
    margin-left: -700px;
    margin-top: 20px;
}

header #accueil {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 150px;
    font-size: 24px;
    background-color: #fe8103;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    box-shadow: 6px 4px 4px#00000050;
    top: 50px;
    right: 5%;
    text-align: center; 
    vertical-align: middle;
    padding-top: 10px;
}

header #accueil a {
    text-decoration: none;
    color: #fff;
}

header #accueil:hover {
    background-color: #ffffff;
}

header #accueil:hover a {
    color: #fe8103;
}

header h1 {
    position: relative;
    width: 400px;
    margin-left: 220px;
    top: 50px;
    text-decoration: underline;
    color: #ffffff;
}

header #titre {
    position: absolute;
    background-color: #052544;
    margin-left: 700px;
    width: 300px;
    height: 60px;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 20px;
    border-radius: 15px;
}

header #titre p {
    color: #fff;
    font-size: 24px;
}

/*style de la nav du haut*/

#nav_haut {
    width: 100%;
    background-color: #007fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100px;
}

#nav_haut ul {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav_haut ul a div {
    display: inline-block;
    width: 25%;
    background-color: #0c4c8c;
    margin-right: -5px;
    padding: 0px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

#nav_haut ul a div p {
    margin-top: 28px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#nav_haut ul a:hover div {
    background-color: #ffffff;
}

#nav_haut ul a:hover div p {
    color: #000000;
}

/*style de l'article*/

article{
    position: absolute ;
	margin-left: 10%;
    margin-right: 10%;
}

article h2{
    margin-left: 40px;
}

.bloc {
    margin-top: 60px;
    padding: 70px;
    padding-bottom: 20px;
    width: 85%;
    border-radius: 30px;
}

article p {
    display: inline-flex;
    font-size: 100%;
	text-align: justify;
	clear: both;
    font-weight: normal;
    max-width: 100%;
}

#intro {
    max-width: 100%;
}

img{
    left: 50%;
    width: 500px;
    border-radius: 30px;
    border :black solid;
    display: inline-flex;
    margin-left: 250px;
}

#club{
    float: right;
}

#troisième_bloc{
    background-color: white;
    color: black;
    border: #0c4c8c solid;
}

#deuxième_bloc{ 
    background-color:#0C4C8C; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quatrième_bloc {
    background-color:#0C4C8C;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

body{
    font-size: 15px;
	line-height: 150%;

    
}

article{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    position: relative;
	margin: auto;
}

img{
    margin-top: 10px;
    margin-left: 200px;
    border-radius: 30px;
    border :black solid;  
    width: 80%;
}

#club{
    float: right;
}
#troisième_bloc{
    background-color: white;
    color: black;
}
#deuxième_bloc{ 

    background-color:#0C4C8C; 
    color: white;
}
#quatrième_bloc {
    background-color:#0C4C8C;
    color: white;
}
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    width:100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f0f0f0;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e2e2e2;
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    text-align: center;
}

tfoot {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

tfoot td {
    font-size: 1.1em;
    color: #333;
}

caption{
    text-decoration: underline;
}

@media only screen
and (min-device-width : 0px)
and (max-device-width : 850px)
and (orientation : portrait) {
     /* Styles */

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Medium.woff2') format('woff2'),
            url('../Fonts/Poppins-Medium.woff') format('woff'),
            url('../Fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Light.woff2') format('woff2'),
            url('../Fonts/Poppins-Light.woff') format('woff'),
            url('../Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../Fonts/Poppins-LightItalic.woff') format('woff'),
            url('../Fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body{
    font-size: 15px;
	line-height: 150%;
    font-family: 'Poppins';
    width: 100%;
    overflow: hidden;
}

/*Style du header*/

header {
    height: 160px;
    background-color: #0C4C8C;
    margin-top: -24px;
    border-bottom: #052544 solid;
}

header #logo_head {
    height: 120px;
    width: 120px;
    border: none;
    position: absolute;
    margin-left: -700px;
    margin-top: 20px;
}

header #accueil {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 150px;
    font-size: 24px;
    background-color: #fe8103;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    box-shadow: 6px 4px 4px#00000050;
    top: 50px;
    right: 5%;
    text-align: center; 
}

header #accueil a {
    text-decoration: none;
    color: #fff;
}

header #accueil:hover {
    background-color: #ffffff;
}

header #accueil:hover a {
    color: #fe8103;
}

header h1 {
    position: relative;
    width: 400px;
    margin-left: 220px;
    top: 50px;
    text-decoration: underline;
    color: #ffffff;
}

header #titre {
    position: absolute;
    background-color: #052544;
    margin-left: 700px;
    width: 300px;
    height: 60px;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 20px;
    border-radius: 15px;
}

header #titre p {
    color: #fff;
    font-size: 24px;
}

article{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    position: relative;
	margin: auto;
    width: 80%;
}



h3{
    font-size: 100%;
	text-align: justify;
	font-weight: bold;
	clear: both;
}
img{
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 30px;
    border :black solid;  
    width: 80%;
}

#club{
    float: right;
}
#troisième_bloc{
    background-color: white;
    color: black;
}
#deuxième_bloc{ 

    background-color:#0C4C8C; 
    color: white;
}
#quatrième_bloc {
    background-color:#0C4C8C;
    color: white;
}
}

@media only screen
    and (max-device-width: 1350px) {
    #nav_bas {
        display: none;
    }
}