/*Polices d'écriture ----------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Medium.woff2') format('woff2'),
            url('../fonts/Poppins-Medium.woff') format('woff'),
            url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Light.woff2') format('woff2'),
            url('../fonts/Poppins-Light.woff') format('woff'),
            url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../fonts/Poppins-LightItalic.woff') format('woff'),
            url('../fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
/*Fin polices d'écriture ------------------------------------------------------------------------------------------*/

body {
   font-family: 'Poppins';
   max-width: 100%;
   margin: 0px;
}

#bouton_menu {
    display: none;
}

/*Menu nav du haut-------------------------------------------------------------------------------------------------*/
#nav_haut {
    width: 100%;
    background-color: #007fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100px;
}

#nav_haut ul {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav_haut ul a div {
    display: inline-block;
    width: 25%;
    background-color: #0c4c8c;
    margin-right: -5px;
    padding: 0px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

#nav_haut ul a div p {
    margin-top: 28px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#nav_haut ul a:hover div {
    background-color: #ffffff;
}

#nav_haut ul a:hover div p {
    color: #000000;
}
/*Fin menu nav du haut --------------------------------------------------------------------------------------------*/

/*Mise en page (cartes) -------------------------------------------------------------------------------------------*/
h2 {
    margin-left: 7.5%;
    margin-top: 50px;
}

#intro {
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
}

img {
    height: 270px;
    float: left;
    margin-right: 20px;
}

.fond {
    min-height: 450px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 20px 0;
    overflow-x: hidden;
}

.skipper {
    text-align: center;
    padding: 20px;
}

.skipper h3 {
    margin: 0 0 0 20%;
    padding: 10px;
    background-color: #0c4c8c;
    color: #fff;
    border-radius: 5px 5px 0 0;
    width: auto; /* Évite une largeur fixe */
}

.carte {
    height: auto; /* Adapte la hauteur au contenu */
    font-size: 16px;
    background-color: #007fff;
    color: #fff;
    padding: 20px;
    text-align: justify;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 280px;
    margin-left: 20%;
    margin-right: 20%;
}

#picon, #bernaz {
    background-color: #0c4c8c;
}

#picon h3 {
    background-color: #fff;
    color: #0c4c8c;
    width: 160px;
    text-align: center;
}

#nolot h3 {
    background-color: #0c4c8c;
    color: #fff;
    width: 170px;
    text-align: center;
}

#bernaz h3 {
    background-color: #fff;
    color: #0c4c8c;
    width: 220px;
    text-align: center;
}

.fond #picon, .fond #bernaz {
    background-color: #0c4c8c;
    width: 100%;
}

.fond #nolot {
    width: 100%;
}

div div p {
    margin-top: 0px;
}

h3 {
    margin: 0px;
}
/*Fin mise en page (cartes) ---------------------------------------------------------------------------------------*/

/*Responsive nav du haut ------------------------------------------------------------------------------------------*/
@media only screen 
    and (max-device-width : 1061px) {
        #nav_haut ul #voile div p {
        margin-top: 12px;
    }
}

@media only screen 
    and (max-device-width : 716px) { /*menu hamburger*/
    body {
        overflow-x: hidden;
    }

    h2 {
        margin: 50px 10px 20px 10px;
    }

    #intro {
        margin-left: 10px;
        margin-right: 10px;
    }

    .skipper h3 {
        margin-left: 3%;
    }

    .carte {
        margin-left: 3%;
        margin-right: 3%;
    }

    #bouton_menu {
        display: none;
    }

    label.bouton_menu {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 101;
        height: 40px;
        width: 40px;
        background-color: #000;
        border-radius: 50%x;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label.bouton_menu span {
        display: block;
        position: absolute;
        height: 2px;
        width: 20px;
        background: #fff;
        border-radius: 9px;
        transition: 0.3s ease-in-out;
    }
    
    label.bouton_menu span:nth-of-type(1) {
        top: 10px;
    }

    label.bouton_menu span:nth-of-type(2) {
        top: 18px;
      }
      
    label.bouton_menu span:nth-of-type(3) {
        top: 26px;
    }

/*animation croix*/
    #bouton_menu:checked + label.bouton_menu span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 18px;
    }
      
    #bouton_menu:checked + label.bouton_menu span:nth-of-type(2) {
        opacity: 0;
    }
      
    #bouton_menu:checked + label.bouton_menu span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 18px;
    }

    #nav_haut {
        background-color: #ffffff00;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -250px;
        transition: transform 0.3s ease-in-out;
        z-index: 100;
    }

    #bouton_menu:checked + label {
        background-color: #f00;
    }

    #bouton_menu:checked ~ #nav_haut {
        transform: translateX(200px);
    }

    #nav_haut a {
        display: block;
        width: 600px;
    }
}
/*Fin responsive nav du haut --------------------------------------------------------------------------------------*/

@media only screen 
    and (max-device-width : 450px) {
    #photo_skipper {
        width: 100%;
        height: auto;
    }
}

/*Menu nav du bas -------------------------------------------------------------------------------------------------*/

#nav_bas {
    margin-top: 100px;
}

#nav_bas ul {
    width: 70%;
    height: 90px;
    margin: auto;
}

#nav_bas ul a div {
    display: inline-flex;
    background-color: #007fff;
    width: 20%;
    height: 100%;
    margin-right: 4%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

#nav_bas ul a div p {
    max-width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

#nav_bas ul a div:hover {
    background-color: #0c4c8c;
    height: 140px;
    will-change: translation;
    animation: montee 0.5s ease-in-out forwards;
}

@keyframes montee {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@media only screen
    and (max-device-width: 1350px) {
    #nav_bas {
        display: none;
    }
}
/*Fin menu nav du bas----------------------------------------------------------------------------------------------*/

/*style du footer -------------------------------------------------------------------------------------------------*/

footer {
    background-color: #0c4c8c;
    height: 100px;
    margin-bottom: -10px;
    margin-top: 0px;
}

footer #logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    height: 80px;
}

footer #fb {
    position: absolute;
    height: 70px;
    width: 70px;
    right: 10px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    z-index: 50;
}

footer #ins {
    position: absolute;
    margin: 0;
    right: 94px;
    margin-top: 27px;
    height: 48px;
    width: 48px;
    vertical-align: baseline;
}

footer p {
    position: absolute;
    display: inline-block;
    font-size: 20px;
}

footer #ct {
    right: 170px;
    margin-top: 40px;
}

footer #ml {
    margin-left: 110px;
    margin-top: 40px;
    color: #000000;
    text-decoration: underline 2px;
}

footer #ml:hover {
    color: #fe8103;
    text-decoration: underline #fe8103 2px;
}

@media only screen
    and (max-device-width: 645px) {
        footer p {
            font-size: 14px;
        }

        footer #fb {
            height: 50px;
            width: 50px;
            margin-top: 25px;
        }

        footer #ins {
            height: 32px;
            width: 32px;
            margin-top: 34px;
            right: 60px;
        }

        footer #ct {
            right: 100px;
        }

        footer #logo {
            margin-left: 10px;
        }

        footer #ml {
            margin-left: 100px;
        }
}