@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Medium.woff2') format('woff2'),
            url('../fonts/Poppins-Medium.woff') format('woff'),
            url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Light.woff2') format('woff2'),
            url('../fonts/Poppins-Light.woff') format('woff'),
            url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../fonts/Poppins-LightItalic.woff') format('woff'),
            url('../fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body {
    font-family: 'Poppins';
    color: ffffff;
    margin: 0px;
}

/*style du haut de la page d'accueil (la grande image du debut)*/

#main {
    background-image: url("../images/image_accueil.png");
    width: 100%;
    height: 735px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, 0px;
}

#main #bloc_noir {
    background-color: #00000088;
    display: inline-block;
    width: 29%;
    height: 100%;
    color: #ffffff;
}

#main #bloc_noir div {
    margin-top: 130px;
    margin-left: 51px;
}

#main #bloc_noir div h1 {
    font-size: 64px;
    text-decoration: underline;
}

#main #bloc_noir div h3 {
    font-size: 32px;
    margin-top: -50px;
}

#main img {
    position: absolute;
    display: inline-block;
    height: 250px;
    width: 250px;
    margin-top: 277px;
    margin-left: 170px;
}

#main #sponsors {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 150px;
    font-size: 24px;
    background-color: #fe8103;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    box-shadow: 6px 4px 4px#00000050;
    margin-top: 80px;
    right: 5%;
    text-align: center;
    padding-top: 0px;
}

#main #sponsors a {
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

#main #sponsors:hover {
    background-color: #ffffff;
}

#main #sponsors:hover a {
    color: #fe8103;
}

/*style de la nav du haut*/

#nav_haut {
    width: 100%;
    background-color: #007fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 130px;
}

#nav_haut ul {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav_haut ul a div {
    display: inline-block;
    width: 25%;
    background-color: #0c4c8c;
    margin-right: -5px;
    padding: 0px;
    height: 130px;
    text-align: center;
    vertical-align: middle;
}

#nav_haut ul a div p {
    margin-top: 45px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#nav_haut ul a:hover div {
    background-color: #ffffff;
}

#nav_haut ul a:hover div p {
    color: #000000;
}

/*Style de l'edito*/

#edito {
    width: 65%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    background: #0c4c8c;
    padding-top: 55px;
    padding-bottom: 75px;
    border-top: #00000033 solid;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    color: #ffffff;
}

#edito h2 {
    margin-left: 15%;
}

#edito p {
    width: 70%;
    margin: auto;
}

/*Style du caroussel*/

#bloc_blanc1 {
    width: 300px;
    height: 550px;
    background-color: #ffffff;
    position: absolute;
    z-index: 10;
}

#bloc_blanc2 {
    width: 300px;
    height: 550px;
    right: 0%;
    background-color: #ffffff;
    position: absolute;
    z-index: 10;
}

.carousel {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
  }

.card {
    width: 183px;
    height: 500px;
    color: white;
    border-radius: 24px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: #0c4c8c88 solid;
}

.card img {
    max-height: 320px;
    margin-bottom: 0px;
}

.card #banque {
    height: 183px;
}

.card #optimist {
    width: 100%;
}

.card div {
    background-color: #0c4c8c;
    margin: 0px;
    height: 100%;
    padding: 12px;
    margin-top: 0px;
    
}

.card div p {
    font-size: 20px;
    text-decoration: underline #ffffff;
}

.card:hover {
    border: #0c4c8cff solid;
}

.card:hover div {
    background-color: #ffffff;
    color: #0c4c8c;
    text-decoration: underline #0c4c8c;
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 30s ease-in-out infinite;
}

.carousel:hover .group {
        animation-play-state: paused;
}

@keyframes scrolling {
    0% {
      transform: translateX(0%);
    }
    16.6% {
      transform: translateX(-33.3%);
    }
    33.3% {
      transform: translateX(-33.3%);
    }
    49.9% {
      transform: translateX(-66.6%);
    }
    66.6% {
      transform: translateX(-66.6%);
    }
    83.3% {
      transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
  }