@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Medium.woff2') format('woff2'),
            url('../Fonts/Poppins-Medium.woff') format('woff'),
            url('../Fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-Light.woff2') format('woff2'),
            url('../Fonts/Poppins-Light.woff') format('woff'),
            url('../Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../Fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../Fonts/Poppins-LightItalic.woff') format('woff'),
            url('../Fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body{
    background-color: #ffffff;
    font-family: "Poppins";
    margin: 0px;
}

/*menu_nav_haut*/

#nav_haut {
    width: 100%;
    background-color: #007fff;
    margin-top: 0px;
    margin-bottom: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100px;
}

#nav_haut ul {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#nav_haut ul a div {
    display: inline-block;
    width: 25%;
    background-color: #0c4c8c;
    margin-right: -5px;
    padding: 0px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

#nav_haut ul a div p {
    margin-top: 28px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#nav_haut ul a:hover div {
    background-color: #ffffff;
}

#nav_haut ul a:hover div p {
    color: #000000;
}

/*paragraphe d'intro*/

#intro {
    max-width: 65%;
    margin: auto;
    margin-bottom: 60px;
    text-indent: 40px each-line;
    text-align: justify;
}

h2 {
    max-width: 65%;
    margin: auto;
}

/*style des tableaux*/

table{
    border: 0px solid;
    border-collapse:collapse;
    text-align: center;
    min-width:53%;
    border: #e4e4e4 solid 8px;
    border-radius: 10px;
}

thead{
    margin: 10px;
}

th{
    border-collapse:collapse;
    text-align: center;
}
td{
    border-collapse:collapse;
    text-align: center;
}
tr{
    background-color: #ffffff;
}

.jaune{
    color:#ffc800;
}

.rbleu{
    color:royalblue;
}

.rouge{
    color:red;
}
.fongris{
    background-color: #e4e4e4;
}

.separer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
    margin:auto;
}

/*style du footer -------------------------------------------------------------------------------------------------*/

footer {
    background-color: #0c4c8c;
    height: 100px;
    margin-bottom: -10px;
    margin-top: 0px;
}

footer #logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    height: 80px;
}

footer #fb {
    position: absolute;
    height: 70px;
    width: 70px;
    right: 10px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    z-index: 50;
}

footer #ins {
    position: absolute;
    margin: 0;
    right: 94px;
    margin-top: 27px;
    height: 48px;
    width: 48px;
    vertical-align: baseline;
}

footer p {
    position: absolute;
    display: inline-block;
    font-size: 20px;
}

footer #ct {
    right: 170px;
    margin-top: 40px;
}

footer #ml {
    margin-left: 110px;
    margin-top: 40px;
    color: #000000;
    text-decoration: underline 2px;
}

footer #ml:hover {
    color: #fe8103;
    text-decoration: underline #fe8103 2px;
}

@media only screen
    and (max-device-width: 645px) {
        footer p {
            font-size: 14px;
        }

        footer #fb {
            height: 50px;
            width: 50px;
            margin-top: 25px;
        }

        footer #ins {
            height: 32px;
            width: 32px;
            margin-top: 34px;
            right: 60px;
        }

        footer #ct {
            right: 100px;
        }

        footer #logo {
            margin-left: 10px;
        }

        footer #ml {
            margin-left: 100px;
        }
}