@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Medium.woff2') format('woff2'),
            url('../fonts/Poppins-Medium.woff') format('woff'),
            url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-Light.woff2') format('woff2'),
            url('../fonts/Poppins-Light.woff') format('woff'),
            url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:    url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
            url('../fonts/Poppins-LightItalic.woff') format('woff'),
            url('../fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

body {
   font-family: 'Poppins';
   width: 80%;
   margin: auto;
}

button {
    display: none;
}

#nav_haut {
    width: 100%;
    background-color: #007fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 65px;
}

#nav_haut ul {
    display: flexbox; /* Permet un alignement flexible */
    justify-content: space-around; /* Espacement uniforme entre les boutons */
    align-items: center;
    margin: 0; 
    padding: 0; 
    list-style: none; /* Supprime les puces des listes */
}

#nav_haut ul a div {
    display: inline-block;
    width: 25%;
    background-color: #0c4c8c;
    margin-right: -5px;
    padding: 0px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
}

#nav_haut ul a div p {
    margin-top: 14px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

#nav_haut ul a:hover div {
    background-color: #ffffff;
}

#nav_haut ul a:hover div p {
    color: #000000;
    text-decoration: underline;
}

#intro {
    text-align: justify;
    margin: 20px 0 20px 0;
}

img {
    height: 270px;
    float: left;
    margin-right: 20px;
}

.fond {
    min-height: 450px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10% 20px 10%;
}

.skipper {
    text-align: center;
    padding: 20px;
}

.skipper h3 {
    margin: 0;
    padding: 10px;
    background-color: #0c4c8c;
    color: #fff;
    border-radius: 5px 5px 0 0;
    width: auto; /* Évite une largeur fixe */
}

.carte {
    height: auto; /* Adapte la hauteur au contenu */
    font-size: 16px;
    background-color: #007fff;
    color: #fff;
    padding: 20px;
    text-align: justify;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 280px;
}

#picon, #bernaz {
    background-color: #0c4c8c;
    
}

#picon h3 {
    background-color: #fff;
    color: #0c4c8c;
    width: 160px;
    text-align: center;
}

#nolot h3 {
    background-color: #0c4c8c;
    color: #fff;
    width: 170px;
    text-align: center;
}

#bernaz h3 {
    background-color: #fff;
    color: #0c4c8c;
    width: 220px;
    text-align: center;
}

.fond #picon, .fond #bernaz {
    background-color: #0c4c8c;
    width: 100%;
}

.fond #nolot {
    width: 100%;
}

div div p {
    margin-top: 0px;
}

h3 {
    margin: 0px;
}

/*animation de la nav du bas*/

#nav_bas {
    margin-top: 100px;
}

#nav_bas ul {
    width: 70%;
    height: 90px;
    margin: auto;
}

#nav_bas ul a div {
    display: inline-flex;
    background-color: #007fff;
    width: 20%;
    height: 100%;
    margin-right: 4%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

#nav_bas ul a div p {
    max-width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

#nav_bas ul a div:hover {
    background-color: #0c4c8c;
    height: 140px;
    will-change: translation;
    animation: montee 0.5s ease-in-out forwards;
}

@keyframes montee {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }
}

@media only screen 
    and (max-device-width : 1061px) {
    #nav_haut ul a div p {
        font-size: 20px;
    }
}

@media only screen 
    and (max-device-width : 883px) {
    #nav_haut ul #voile div p {
        margin-top: 2px;
    }
}

@media only screen 
    and (max-device-width : 600px) { /*menu hamburger*/
    body {
        width: 100%;
        overflow-x: hidden;
    }

    button {
        display: block;
        height: 25px;
        width: 25px;
        margin: 2px 0 0 5px;
        background-color: #fff;
        border-radius: 4px;
        border: 0px;
    }

    button img {
        height: 20px;
        width: 20px;
        margin-left: -3px;
    }

    #nav_haut {
        background-color: #ffffff00;
        position: absolute;
        left: -100%;
        display: none;
    }

    @keyframes deroule {
        0% {
            transform: translateX(-100%)
        }
        100% {
            transform: translateX(0px)
        }
    }

    button:active #nav_haut {
        will-change: translation;
        animation: deroule;
        display: block;
    }

    #nav_haut a {
        display: block;
        width: 600px;
    }
}

@media only screen 
    and (max-device-width : 450px) {
    img {
        width: 100%;
        height: auto;
    }
}